.AB64CF89
.account
.bash_history
.CF89AA64
.CFUserTextEncoding
.DS_Store
.lesshst
.mysql_history
.pgpass
.php_history
.rnd
.sqlite_history
.viminfo
.vim/.netrwhist
*.swp

.DownloadManager/
.Trash/
.cups/
.dropbox/
.gem/
.idlerc/
.keepassx/
.m2/
.macports/
.pip/
.python-eggs/
.ssh/
.subversion/
Desktop
Documents
Downloads
Dropbox
Library
Movies
Music
Pictures
Public
Sites
local
