[user]
    name = Patrick O'Neill
    email = pgoneill@gmail.com
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true
[alias]
    top = rev-parse --show-toplevel
[core]
    excludesfile = ~/.gitignore_global
[branch]
    autosetuprebase = always
    autosetupmerge = always
