[user]
	name = Patrick O'Neill
	email = pgoneill@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true
[alias]
	br = branch
	ci = commit
	co = checkout
	st = status
	a = add
	ps = push
	pl = pull
[push]
	default = current
[core]
	excludesfile = /Users/pgoneill/.gitignore_global
