.AB64CF89
.account
.bash_history
.CF89AA64
.CFUserTextEncoding
.DS_Store
.lesshst
.mysql_history
.pgpass
.php_history
.rnd
.sqlite_history
.viminfo
.vim/.netrwhist
*.swp
.ICEauthority
.aptitude/
.bash_history
.bash_logout
.bashrc.orig
.cache/
.config/
.dbus/
.dmrc
.esd_auth
.fontconfig/
.gconf/
.gconfd/
.gksu.lock
.gnome2/
.gtk-bookmarks
.local/
.mozilla/
.mysql_history
.pip/
.profile
.pulse-cookie
.pulse/
.ssh/
.sudo_as_admin_successful
.viminfo
.virtualenvs/
.xsession-errors
.xsession-errors.old
Downloads/
dev/
examples.desktop

.DownloadManager/
.Trash/
.cups/
.dropbox/
.gem/
.idlerc/
.keepassx/
.m2/
.macports/
.pip/
.python-eggs/
.ssh/
.subversion/
Desktop
Documents
Downloads
Dropbox
Library
Movies
Music
Pictures
Public
Sites
local
