.AB64CF89
.account
.bash_history
.bash_logout
.bashrc.orig
.CF89AA64
.CFUserTextEncoding
.dmrc
.DS_Store
.esd_auth
.gksu.lock
.gtk-bookmarks
.ICEauthority
.lesshst
.mysql_history
.pgpass
.php_history
.profile
.pulse-cookie
.rnd
.sqlite_history
.sudo_as_admin_successful
.viminfo
.vim/.netrwhist
.xsession-errors
.xsession-errors.old
examples.desktop

*.swp

.aptitude/
.cache/
.config/
.cups/
.dbus/
.DownloadManager/
.dropbox/
.fontconfig/
.gconf/
.gconfd/
.gem/
.gnome2/
.idlerc/
.keepassx/
.local/
.m2/
.macports/
.mozilla/
.pip/
.pulse/
.python-eggs/
.ssh/
.subversion/
.Trash/
.virtualenvs/


Desktop/
dev/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
Sites/
